:root {
    --sidebar-width: 10rem;
}

body {
    margin: 0;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    background: blueviolet;
    overflow: hidden;
    transition: all 500ms;
}

main {
    display: flex;
    flex-direction: column;
    background: cadetblue;
    margin-left: var(--sidebar-width);
    padding: 1rem;
    transition: all 500ms;
}

h3 {
    transition: all 500ms;
}

button {
    width: 3rem;
}