:root {
    --sidebar-width: 12rem;
}

body {
    margin: 0;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    background: blueviolet;
}

main {
    display: flex;
    flex-direction: column;
    background: cadetblue;
    margin-left: var(--sidebar-width);
    padding: 1rem;
}